/* Tu CSS va aqui */
* {
	box-sizing: border-box;
	padding: 0;
	margin:  0;
}

/*header*/

header strong {
	color: #F05F40;
}

.menu li a {
	color: #F05F40 !important;
	text-transform: uppercase;
}

.menu li a:hover {
	color: #782F20 !important;
}
.title_page {
	text-transform: uppercase;
	margin-top: 17px;
}

/*section*/

/*article*/

.hr-orng {
	width: 5%;
	border: 2px solid #F05F40;
	margin-left: 47.5%;
	margin-bottom: 2%;
}

.hr-wht {
	width: 5%;
	border: 2px solid #ffffff;
	margin-left: 47.5%;
	margin-bottom: 2%;
}

.fondo-img .row {
	padding: 5%;
}

.fondo-img {
	background-image: url("../img/header.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;	
	padding: 10%;
}

.fondo-img h1, p{
	color: #ffffff;
}

.fondo-img h1 {
	font-size: 285%;
}

.fondo-img a {
	background-color: #F05F40;
	border: transparent;
	border-radius: 20px; 
	margin-top: 5%;
}

.fondo-img a:hover{
	background-color: #782F20 !important;
}
.fondo-img a:active{
	background-color: #782F20 !important;
}
.fondo-img a:focus{
	background-color: #782F20 !important;
}
.fondo-img a:visted {
	background-color: #782F20 !important;
}

.marg-jumb {
	margin-top: -2.18%;
}

/*article*/

.sobre-mi {
	background-color: #F05F40;
	color: #ffffff;
	padding: 7%;
	margin-top: -8%;
}

.sobre-mi,.contactame h2 {
	font-size: 250%;
}

.h2 {
	color: #ffffff;
	text-transform: uppercase;
}

.sobre-mi .container {
	padding: 0 10%;
}

/*article*/

.menu-icons {
	padding: 8% 0;
}

.col-md-3 i {
	font-size: 450%;
	color: #F05F40;
}

i+h5 {
	font-weight: bold;
	font-size: 120%;
}

.col-md-3 div {
	margin-top: 20%;
}

h5+span {
	font-size: 120%;
}

/*proyectos*/
.title_services{
	text-transform: uppercase;
}

.jpg {
	background-size: cover;
	background-repeat: no-repeat;
	height: 200px;
}
.name_catg{
	text-transform: uppercase;
}

.proyectos .col-md-4 {
	padding: 0;
}

.display-none {
	display: none;
	background-color: rgba(240, 95, 64, 0.5);
	padding-top: 10%;
	height: 100%;
}

.display-none h2, p {
	color: #ffffff;
}

.jpg:hover .display-none {
	display: block;
}

.uno-jpg {
	background-image: url(../img/1.jpg);
}

.dos-jpg {
	background-image: url(../img/2.jpg);
}

.tres-jpg {
	background-image: url(../img/3.jpg);
}

.cuatro-jpg {
	background-image: url(../img/4.jpg);
}

.cinco-jpg {
	background-image: url(../img/5.jpg);
}

.seis-jpg {
	background-image: url(../img/6.jpg);
}

/*article*/

.ver-git {
	background-color: #222222;
	padding: 5% 0;
}

.ver-git h2 {
	color: #ffffff;
}

.ver-git a {
 	margin-top: 3%;
	background-color: #ffffff;
	border: transparent;
	border-radius: 20px;
	color: black;
}

.ver-git a:hover {
	background-color: #222222;
}
.text-contact{
	margin-bottom: 0px
}

.contact{
	text-transform: uppercase;
	color: #F05F40;
	margin-bottom: 100px
}
.number-phone{
	color: #F05F40;
}
.mail_address{
	color: #F05F40;
}
.mail_address:hover{
	color: #F05F40;
}
.mail_address:active{
	color: #F05F40;
}
.mail_address:focus{
	color: #F05F40;
}
.mail_address:visited{
	color: #F05F40;
}
/*article*/

.contactame p,h2 {
	color: black;
}

.contactame i {
	font-size:300%;
	color: black;
}

.contactame .row h2, p {
	margin: 4% 15%;
}

.contactame h5 a:hover {
	text-decoration: none;
}


@media screen and (max-width: 991px) {
	.display-none{
		padding-top: 4%;
	}
	.contact{
		margin-bottom: 50px;
	}
	.contact + .col-md-6{
		margin-bottom: 50px
	}
}
@media screen and (max-width: 767px) {
	.fondo-img{
		padding: 10% 5%;
	}
	.title_page{
		padding-left: 2%;
	}
	.display-none{
		padding-top: 10%
	}
	.display-none .name_catg{
		margin: 1% 2%;
	}
	.contactame{
		padding-top: 40px
	}

}
@media screen and (max-width: 600px) {
	.fondo-img h1{
		font-size: 30px;
	}
	.jumbotron p{
		font-size: 16px;
	}
	.fondo-img a{
		font-size: 15px	
	}
	.titles_mobile{
		font-size: 25px !important;
	}
	.title_services{
		font-size: 15px
	}
	.title_services + span{
		font-size: 15px
	}
	.display-none{
		padding-top: 13%;
	}
	.display-none .name_catg{
		font-size: 23px;
	}
	.display-none p.name_catg{
		font-size: 13px
	}
	.ver-git h2{
		width: 90%;
		font-size: 20px;
		margin: auto;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.ver-git a{
		font-size: 15px;
	}
	.contact{
		font-size: 15px;
	}
	.number-phone, .mail_address{
		font-size: 15px;
	}
}

@media screen and (max-width: 500px) {
	body{
		padding-bottom: 50px;
	}
	.fondo-img h1{
		font-size: 25px;
	}
	.jumbotron p{
		margin-right: 5%;
		margin-left: 5%;
	}
	.menu-icons .col-md-3 div{
		width: 70%;
		margin: auto;
		margin-top: 70px;
		margin-bottom: 20px;
	}
	.display-none{
		padding-top: 70px
	}
	.ver-git{
		padding: 5% 0 7%;
	}
}
@media screen and (max-width: 380px) {
	.sobre-mi{
		margin-top: -12%;
	}
}






























